__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.mypy_cache
.pytest_cache
.hypothesis
**/node_modules/
**/dist
**/build
.git
npm-debug.log
.coverage
.coverage.*
.env
.aws

notebooks/